.AddOrEditTour {
  :global {
    margin: auto;
    padding: 15px;
    max-width: 450px;
    align-content: center;
    margin-top: 120px;
    
    .chip-input .css-1hfcwwv-MuiStack-root{
      width: 100%;
      
    }
  }
  
}