@import "styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $primary-font;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: $primary-font;
    font-style: normal;
    color: $text-black;
}
h1, .title{
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}
h2{
    font-weight: 700;
    font-size: 23px;
    line-height: 36px;
    &.sm{
        font-size: 20px;
        line-height: 24px;
    }
    &.lg{
        font-size: 24px;
        line-height: 32px; 
    }
}
h3{
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    &.lg{
        font-size: 17px;
        line-height: 16px;
    }
}
p{
    font-weight: normal;
    font-size: 16px;
}
a, label, span, input, ul, ol, strong, b, em{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
}
h2{
    span{
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        line-height: 24px;
        margin-left: 4px;
    }
}
textarea{
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    &:focus{
        outline: 1px solid transparent;
    }
}
ul, ol{
    li{
        font-family: $primary-font;
        font-style: normal;
        font-weight: 400;
    }
}
.nvam-table-content {
    overflow: auto;
    height: calc(100vh - 196px);  
    @media screen and (min-width: 991px){
        height: calc(100vh - 256px);  
    }
    /*256px is the height of header nav bars, paddings, and title of the table.
    This height is added for temporary adjustment*/
    .nvam-table{
        width: 100%;
        position: relative;
        tr{
            th, td{
                font-family: $primary-font;
                font-style: normal;
                font-size: 16px;
                line-height: 24px;
                color: $text-black; 
            }
        }
        thead{
            tr{
                th{
                    background-color: $white;
                    position: sticky;
                    top: 0;
                    min-width: 130px;
                    padding: 16px 24px;
                    font-weight: 600;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        border-bottom: 1px solid $light-grey;
                    }
                }
            }
        }
        tbody{
            overflow: auto;
            tr{
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: $hover-white;
                    cursor: pointer;
                }
                td{
                    padding: 16px 24px;
                    font-weight: normal;
                }
            }
        }
    }
}