// @use "styles/shared" as *;

.Navbar {
  :global {

    .logo{
      color: #606080;
      font-weight: 600;
      font-size: 22px;
    }
    .nav-link{
      color: #606080;
      font-weight: 500;
      margin-top: 7px;
      font-size: 17px;
    }
  }
}